@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: var(--purple);
    background-color: var(--body-bg-color);
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation-name: fade;
    animation-duration: 1s;

}

.perfil {
    width: 200px;
    height:200px;
    border-radius: 180px;
    padding: 5px;
    border: 2px purple solid;
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    
}

.container p{
    margin-top: 10px;
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 50ms;
    animation-fill-mode: backwards;
   
}

.linksList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 30px;
    margin-left: 0;

}

.linksList a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid var(--purple);
    border-radius: 4px;
    width: 326px;
    height: 49px;
    cursor: pointer;
}

.linksList a:nth-child(1){
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 100ms;
}

.linksList a:nth-child(2){
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 150ms;
    animation-fill-mode: backwards;
}

.linksList a:nth-child(3){
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

.linksList a:nth-child(4){
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
}

.linksList a:hover{
    background: #BB99DD;
    color: white;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 236px;
    height:24px;
    margin-top: 30px;
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-top: 10px;
}

@keyframes move {
    from{
      opacity: 0;  
      transform: translateX(-100%);  
    }
    to {
      opacity: 1;  
      transform: translateX(0%);
    }
}

@keyframes fade {
    from{
      opacity: 0;  
      transform: scale(0.7);  
    }
    to {
      opacity: 1;  
      transform: scale(1);
    }
}